
.skill__circle{
  fill: transparent;
  stroke-width: 3px;
  stroke: rgba(#464d62, .2);

  &_above{
    stroke-width: 7px;
    stroke: #9300e8;
    stroke-dasharray: 251;
    stroke-dashoffset: 150;
    
  }       

}

.skill{
  width: 150px;
  position: relative;
}
.skill__circle-text{
  color: rgba(#464d62, .5);
  font-weight: bold;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%);
  text-transform: uppercase;

}

