.footer-social__list{
    display: flex;
    padding-top: 40px;
}
.footer-social__item{
    padding-right: 30px;
}

.footer-social__icon{
    width: 45px;
    padding: 10px;
    fill: #67696f;
    border: 1px solid #67696f;
    border-radius: 20px;
}
.desc__social{
    padding-right: 170px;
}