.hamburger-menu__btn{
    display: none;
    border-bottom: 2px solid #464d62;
    width: 20px;
    box-shadow: 0 7px #464d62, 0 -7px #464d62;

    @include tablets{
        display: block;
    }
}
.hamburger-menu-header-nav{
    display: none;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background-color: #fff;
}
.header__hamburger-menu{
    position: relative;
}
