
.profile__info{
    grid-area: profile;
}
.profile__pic{
    width: 200px;
    border-radius: 50%;
    height: 200px;
    overflow: hidden;
}
.profile__img{
    height: 100%;
}
.profile__desc{
    display: flex;
    padding-top: 80px;
    font-weight: 600;
}
.ask{
    padding-right: 70px;   
    color: rgba(#464d62, .5);
}
