.school-nav__list{
    display: flex;
}
.school-nav__item{
    padding-right: 15px;
    color: #696f79;
}
.school-nav__link{
    background: #f3f5f9;
    padding: 10px 20px 10px 20px;
    border-radius: 25px;
}
.school__title{
    padding-top: 60px;
}
.school__paragraph{
    padding-top: 60px;
    font-weight: 600;
    color: rgba(#464d62, .5)
}
.block-help{
    padding-top: 60px;
}
