.skills{
    padding-top: 100px;
    
}
.skills-row__list{
    display: flex; 
    flex-wrap: wrap;
    
    @include phones{
        text-align: center;
        text-align: -webkit-center;
    }
}
.skills-row__item{
    @include phones{
        width: 50%;
    }
}
.skills-row__title{
    font-size: 24px;
    font-weight: bold;
}
