.left__block{
    display: flex;
    padding-right: 135px;
}
.cd{
    font-size: 48px;
    font-weight: 600;
}
.copyright{
    padding-right: 50px;
}
.name{
    font-size: 18px;
    font-weight: bold;
    color: #f8f8f8;
    text-transform: uppercase;
}
.link{
    padding-top: 35px;
}
