.prew__item{
    width: 170px;
    height: 105px;
}
.preview__block{
    display: flex;
    width: 100%;
    height: 80%;
    align-items: flex-end;
    justify-content: flex-end;
    background: url(../images/content/1.jpg) center center/cover no-repeat;
}
