include ./mixins


<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .maincontent 
        .parallax
          .parallax__layer.parallax__layer_1
            +image('Sky.png', 'parallax__image parallax__image_1')
          .parallax__layer.parallax__layer_2
            +image('Mountain.png', 'parallax__image parallax__image_2')
          .parallax__layer.parallax__layer_3
            +image('Baloon.png', 'parallax__image parallax__image_3')
          .parallax__layer.parallax__layer_4
            +image('Mountain1.png', 'parallax__image parallax__image_4')
          .parallax__layer.parallax__layer_5
            +image('Man.png', 'parallax__image parallax__image_5')
          .parallax__layer.parallax__layer_6
            +image('Cloud.png', 'parallax__image parallax__image_6')
        .merge__block
          section.intro-page.page 
            header.header
            .container.header__container
              .header__logo
                p.logo дд
              .header__nav-block
                +nav("header-nav", ["Главная", "Обо мне", "Навыки", "Работы", "Отзывы", "Связаться"])
                .header__hamburger-menu
                  .hamburger-menu__btn 
                  +nav("hamburger-menu-header-nav", ["Главная", "Обо мне", "Навыки", "Работы", "Отзывы", "Связаться"])
              .header__social
                +soc("header")
            .container.intro__container
              .intro__content
                .intro__desc
                  p.title__desc Личный сайт веб разработчика 
                .intro__title
                  h1.title__name Денисов Денис
              .scroll__block
                .intro__scroll  скролл
                  +icon('scroll', 'scroll__icon')
          section.second-page.page 
            .container.second-page__container
              .info__block
                .profile__info
                  .profile__pic
                    +image('foto.jpg', 'profile__img')
                  .profile__desc
                    .ask
                      p.living Проживаю:
                      p.age Возраст:
                      p.born Родился:
                    .answer
                      p.town Москва
                      p.year 30 лет 
                      p.date 7 мая 1989
                .blog__info
                  p.blog__paragraph Привет, меня зовут
                  h2.title Денисов Денис
                  p.blog__desc Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                  p.blog__text Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нем свой контент. А пока посмотрите, как тут все классно и красиво! 
        //- .triangles
        //-   svg.triangles__item(viewBox="0 0 1000 100" preserveAspectRatio="none")
        //-     polygon(points="0,0 0,100, 1000,100")
        //-   svg.triangles__item(viewBox="0 0 1000 100" preserveAspectRatio="none")
        //-     polygon(points="0,100 1000,100 1000,0")
        section.third-page.page
          .container.third-page__container
            .skills__block
              .skills__pic
                +image('Backpack.png', 'skills__img')
              .skills__desc
                h2.skills__title.minor Чем я могу быть полезен вам
                p.skills__text Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нем свой контент. А пока посмотрите, как тут все классно и красиво! 
                div#skills-component
        section.fourth-page.page
          .container.fourth-page__container
            h2.slider__title.minor Мои работы
            #slider-component
        .second-triangles.triangles
          svg.triangles__item(viewBox="0 0 1000 100" preserveAspectRatio="none")
            polygon(points="0,0 1000,100, 1000,0")
          svg.triangles__item(viewBox="0 0 1000 100" preserveAspectRatio="none")
            polygon(points="0,0 1000,0, 0,100")
        .second-merge__block
          section.fifth-page.page
            .container.fifth-page__container
              .reviews#slider
                .review__flexbox
                  h2.reviews__title.minor Что говорят обо мне
                  .review-button
                    button.review-buttons__item.review-buttons__item--slide--prev(@click="previous()") 
                      +icon("arrow-down", "review-arrow__prev")
                    button.review-buttons__item.review-buttons__item--slide--next(@click="next()")
                      +icon("arrow-down", "review-arrow__next")
                .reviews__block 
                  flickity(ref="flickity" :options="flickityOptions")
                    .reviews__item
                      .reviews__icons  
                        +icon("quote", "reviews__icon")
                      .reviews__desc
                        p.reviews__paragraph Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессоных ночей! 
                        .reviews__user
                          .user__pic
                            +image("KO.jpg", "user__img")
                          .user__desc
                            p.user__name Ковальчук Дмитрий
                            p.user__position Основатель LoftSchool
                    .reviews__item
                      .reviews__icons  
                        +icon("quote", "reviews__icon")
                      .reviews__desc
                        p.reviews__paragraph Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессоных ночей! 
                        .reviews__user
                          .user__pic
                            +image("KO.jpg", "user__img")
                          .user__desc
                            p.user__name Ковальчук Дмитрий
                            p.user__position Основатель LoftSchool
                    .reviews__item
                      .reviews__icons  
                        +icon("quote", "reviews__icon")
                      .reviews__desc
                        p.reviews__paragraph Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессоных ночей! 
                        .reviews__user
                          .user__pic
                            +image("KO.jpg", "user__img")
                          .user__desc
                            p.user__name Ковальчук Дмитрий
                            p.user__position Основатель LoftSchool
                    .reviews__item
                      .reviews__icons  
                        +icon("quote", "reviews__icon")
                      .reviews__desc
                        p.reviews__paragraph Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессоных ночей! 
                        .reviews__user
                          .user__pic
                            +image("Di.jpg", "user__img")
                          .user__desc
                            p.user__name Владимир Сабанцев
                            p.user__position Преподаватель
          section.sixth-page.page
            .container.sixth-page__container
              .form__block
                h2.form-block__title.minor Связаться со мной
                .feedback
                  form.feedback__form(action="")
                    .form__row
                      label.form__label(for="")
                        .form__title Введите ваше имя
                        input(type="text").input__form.input__form--name 
                      label.form__label(for="")                      
                        .form__title Введите ваш email                      
                        input(type="text").input__form.input__form--mail 
                    .form__row--textarea
                      label.form__label--textarea(for="")
                        .form__title Coобщение к письму
                        textarea(name="").textarea__form
                    .form__row--button
                      button(type="button").button__form Отправить
      footer.footer
        .container.footer__container
          .left__block
            .copyright
              span.cd &copy
              span.cd 2019
            .footer__info
              p.name Денисов Денис
              p.link Личный сайт веб-разработчика
          .right__block
            +ul("footer-nav", ["Главная", "Обо мне", "Навыки", "Работы", "Отзывы", "Связаться"])
            .center__desc
              .desc__social
                p.social__paragraph Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нем свой контент. А пока посмотрите, как тут все классно и красиво! 
                +soc("footer-social")
              .qoute
                p.quote__paragraph Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
                .quote__name Martin Golding  

      include ./skills
      include ./slider